@font-face {
   font-family: "Instrument Serif";
   src: url("fonts/Instrument Serif Regular.woff2") format("woff2"), url("fonts/Instrument Serif Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Outfit Medium";
   src: url("fonts/Outfit Thin.woff2") format("woff2"), url("fonts/Outfit Thin.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Outfit Light";
   src: url("fonts/Outfit Thin.woff2") format("woff2"), url("fonts/Outfit Thin.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}